
<ion-view view-title="{{result.name}}">
  <ion-content>
    <div class="list">
      <form ng-controller="loginCtrl" ng-submit="login()">
        <label class="item item-input">
          <input type="text" name="username" ng-model="user.username" placeholder="login">
        </label>
        <label class="item item-input">
          <input type="password" name="password" ng-model="user.password"  placeholder="password">
        </label>
        <button class="button button-full button-positive">LOGIN</button>
      </form>
    </div>
  </ion-content>
</ion-view>
