<ion-view view-title="Se connecter">
  <ion-content class="padding" scroll='false'>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Name" ng-model="username">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Lastname" ng-model="lastname">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Login</button>
  </ion-content>
</ion-view>
