<ion-view hide-nav-bar="true" view-title="login">

	<ion-content>
		<img class="logo" src="img/logo_loopr_bleu.png">
		<div class="topmarg">
			<ion-list class="list">
				<div class="list" ng-controller='LoginCtrl'>
					<label class="item item-input">
						<span class="input-label">Pseudo</span>
						<input type="text" name="username" ng-model="login.username">
					</label>
					<label class="item item-input" >
						<span class="input-label">Mot de Passe</span>
						<input type="password" name="password" ng-model="login.password">
					</label>
					<ion-button ng-click="submit()" type="submit" name="submit" class="button button-block button-positive submitButton">Envoyer</ion-button>
				</div>
			</ion-list>
		</div>

	</button>

</ion-content>

</ion-view>
