<ion-view view-title="Liste des utilisateurs">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="list item-remove-animate item-avatar item-icon-right" ng-repeat="result in results"
                type="item-text-wrap"
                ui-sref="tab.friendsDetail({friendId : result.idUser})">

        <img    src="{{result.avatar}}">
        <h2>{{result.lastname}} {{result.name}}</h2>
        <label>Adresse : </label>
        <p>{{result.adress}} {{result.position.lng}}</p>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
