<ion-view view-title="Messagerie">
  <ion-content class="padding">

    <!-- <div ng-if="chat.user != user"> --> <!-- Ici, on met une condition afin de savoir qui ouvre la conversation, et donc quel message afficher en premier -->

    <!-- <div ng-if="chat.user != user"> -->
    <div class="row">
    <div class="col-md-2">
    <img src="img/64014_10151222269295073_1813267606_n.jpg" style="border-radius:50%; background-position:center center; background-size:cover; width:100%; height:100%; width: 50px; height: 50px">
    </div>
    <div class="col-md-10 bubble friend">
    <p>
      Je vais mouillir là !
    </p>
    </div>
    </div>

    <!-- </div> -->
    <div style="clear:both"></div>

    <!-- <div ng-if="message.user != user"> -->
    <div class="row">
    <div class="col-md-10 bubble me">
    <p>
      T'es vraiment un gros co* !
    </p>
    </div>
        <div class="col-md-2">
    <img src="img/11069866_10205374576696270_5295172757254849060_n.jpg" style="border-radius:50%; background-position:center center; background-size:cover; width:100%; height:100%; width: 50px; height: 50px;">
    </div>
    </div>
    <!-- </div> -->
    <div style="clear:both"></div>

  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>
</ion-view>
