<ion-view view-title="login">

	<ion-content>
		<ion-list class="list">


			
				<div class="list">
					<label class="item item-input">
						<span class="input-label">Username</span>
						<input type="text" name="username" ng-model="username">
					</label>
					<label class="item item-input" >
						<span class="input-label">Password</span>
						<input type="password" name="password" ng-model="mpd">
					</label>
					<ion-button ng-click="submit()" type="submit" name="submit" class="button button-block button-positive">Envoyer</ion-button>
				</div>
			
			
		</ion-list>


	</ion-content>
</ion-view>
