<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive navigationBar">

  <!-- Map Tab -->
  <ion-tab title="Map" icon-off="ion-ios-world-outline" icon-on="ion-ios-world" href="#/tab/dash"c>
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Amis" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>

    <!-- Messaging Tab -->
  <ion-tab title="Conversation" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Setting Tab -->
  <ion-tab title="Paramètres" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
