<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{user.name}} {{user.lastname}}">
  <ion-content class="padding">

    <ion-item class="item-remove-animate" type="item-text-wrap">
      <img ng-src="{{user.avatar}}" style="width: 64px; height: 64px">
      <p>{{user.name}} {{user.lastname}}</p>
      <p>
        {{user.age}} ans
      </p>
      <p>
        adresse: {{user.adress}}
      </p>
      <p>
        téléphone: {{user.phone}}
      </p>
    </ion-item>



      <ng-map id="map" class="google-map" center="{{user.position.lat}}, {{user.position.lng}}" data-tap-disabled="true">

        <marker position="[{{user.position.lat}}, {{user.position.lng}}]" title='{{user.name}} {{user.lastname}}' on-click="myfunc()"></marker>

        <marker position="current-location" title='vous etes ici' on-click="myfunc()"></marker>

      </ng-map>


    </ion-content>
  </ion-view>
45.18554, 5.7282689